<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{content.subject}}</title>
</head>

<body
  style="-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;background-color:#f6f6f6;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;margin:0;padding:0">
  <style></style>
  <div class="content"
    style="box-sizing:border-box;display:block;margin:0 auto;max-width:580px;padding:10px;position:relative;top:80px">
    <div style="text-align:center;"><img src={{logo}} alt="" style="border:none;height:60px;width:200px;">
    </div>
    <div class="main" style="background:#fff;border-radius:3px;text-align:start;width:100%;padding:30px">
      <div class="wrapper" style="box-sizing:border-box;padding:20px">
        <div style="">
          <p style="font-size:1rem;">Dear {{content.name}},</p>
          <p style="font-size:1rem;word-spacing:.9px">You have been selected to fulfill {{content.celebrant}}'s {{content.eventName}}
            {{content.serviceOffered}} service coming up on the {{content.date}}.</p>
        </div>
        <a style="font-size:1rem;word-spacing:.9px" href={{content.url}} target="_blank">{{content.url}}</a>

        <p style="font-size:1rem;">Best regards
          <br />
          Escrow Team
        </p>
      </div>
    </div>
  </div>
  </div>

  <footer class="footer" style="clear:both;text-align:center;width:100%; padding-bottom:20px;">
    <p style="color:#000;font-size:0.9rem;text-align:center;word-spacing:.9px">To stop receiving these emails, you can
      unsubscribe at any time.</p>
    <p style="color:#000;font-size:0.9rem;text-align:center;word-spacing:.9px">
      &copy; {{year}} Escrow
    </p>
  </footer>
</body>

</html>